<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="TIBCO.Rendezvous"
                              publicKeyToken="1A696D1F90F6158A"
                              culture="" />
            <bindingRedirect oldVersion="1.0.0.0-1.0.845.6"
                             newVersion="1.0.845.6" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
